pkgbase = ez
	pkgdesc = Script wrapper arround pacman, yaourt, pbget, makepkg
	pkgver = 0.0.2
	pkgrel = 1
	url = https://github.com/Ipssisimus/ez
	arch = any
	license = GPL3
	depends = pbget
	depends = diffutils
	depends = pacman>=5.0
	depends = package-query>=1.8
	depends = gettext
	source = 
https://github.com/Ipssisimus/ez/archive/ez-0.0.2-1.tar.gz
	md5sums = 527c8e07c1dc83a66be035d344e79957

pkgname = ez
