pkgbase = ez
	pkgdesc = Script wrapper arround pacman, yaourt, pbget, makepkg
	pkgver = 0.0.2
	pkgrel = 1
	url = https://github.com/Ipssisimus/ez
	arch = any
	license = GPL3
	depends = pbget
	depends = diffutils
	depends = pacman>=5.0
	depends = package-query>=1.8
	depends = gettext
	source = https://github.com/Ipssisimus/ez/archive/ez-0.0.2-1.tar.gz
	md5sums = c3e04746080cffdd2b75af85aa44344c

pkgname = ez
